{{!< ./default}}
<main id="site-main" class="site-main site-signup outer">
  <div class="calendar cover gh-outer">
    <div class="cover-content gh-inner">

      <div id="calendar" class="calendar-container"></div>


      <script src="{{asset 'js/events.js'}}"></script>