{{!< default}} <main class="site-main">

    <div class="post-feed gh-feed gh-canvas">
        {{#foreach posts}}
        {{> "loop"}}
        {{/foreach}}
    </div>

    <div class="cover-cta-container align-center">
        {{#if @site.members_enabled}}
        {{#unless @member}}
        <div class="cover-cta">
            <a class="button members-subscribe" href="/signup">Sign up</a>
        </div>
        {{/unless}}
        {{/if}}
    </div>

    </main>