.calendar .cover-content {
  max-width: 1200px;
  width: 100%;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 700px;
  width: 100%;
}

.event {
  align-items: flex-start;
  background-color: #fae7cd;
  border: 1px solid #968978;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  font-weight: 600;
  gap: 0.25rem;
  justify-content: center;
  padding: 16px 18px;
  width: 100%;
}

.event .event-summary {
  width: 100%;
}

.event .event-summary h3 {
  color: black;
  position: relative;
  text-align: left;
  width: 100%;
}

.event .tooltip {
  border-bottom: 1px dotted black;
  color: cornflowerblue;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 0;
}

.event .event-summary p, .event details div {
  padding: 0 28px;
}

.event p {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  font-weight: 500;
  justify-content: flex-start;
  line-height: 20px;
  text-align: left;
}

.event .rsvp-link {
  display: flex;
  font-weight: 500;
  justify-content: flex-end;
  width: 100%;
}

.event details div {
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  width: 100%;
}

.event details a, .event .rsvp-link a {
  color: var(--ghost-accent-color);
  text-decoration: underline;
  word-break: break-word;
}

.event summary {
  color: var(--ghost-accent-color);
  cursor: pointer;
  font-weight: 500;
  text-align: right;
  width: 100%;
}

.event details a, .event details u {
  display: inline;
}

/* Tooltip text */
.event .tooltiptext {
  background-color: var(--ghost-accent-color);
  color: black;
  font-size: 12px;
  font-weight: 200;
  padding: 5px 2px;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 15px;
  visibility: hidden;
  width: 130px;
  z-index: 1;
}

.event .tooltip:hover .tooltiptext {
  visibility: visible;
}