.event {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.25rem;
    background-color: #fae7cd;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}