.gh-head-logo {
    font-size: 2.2rem;
    font-weight: 800;
}

.gh-head-menu,
.gh-head-actions {
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #fff6f0 !important;
}

.gh-head-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

.gh-head-link i {
    font-size: 1em;
}

.gh-head-link span {
    font-size: .8em;
}

.nav-dropdown {
    position: relative;
}

.nav-dropdown > details > summary.nav-dropdown-toggle {
    cursor: pointer;
    list-style: none;
}

.nav-dropdown > details > summary.nav-dropdown-toggle::-webkit-details-marker {
    display: none;
}

.nav-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.75rem;
    padding: 1rem 1.5rem;
    background-color: #fff6f0;
    outline: 1px solid var(--brand-color);
    white-space: nowrap;
    border-radius: 8px;
}

.nav-dropdown-menu::before,
.nav-dropdown-menu::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 1.25rem;
    border: 8px solid transparent;
    border-bottom-color: var(--brand-color);
}

.nav-dropdown-menu::after {
    border-width: 7px;
    left: calc(1.25rem + 1px);
    border-bottom-color: #fff6f0;
}

